* {
    margin: 0;
    padding:0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

section {
    text-align: center;
}

#hidden {
    display : none;
}